@use "igniteui-angular/theming" as *;

@include core();
@include typography();
@include theme($palette: $light-material-palette, $schema: $light-material-schema);

html,
body {
  max-height: 1000px;
}

.outer-wrapper {
  height: 100%;
}
