@use "igniteui-angular/theming" as *;

$custom-icon-button-theme: icon-button-theme(
  $background: #212121,
  $foreground: #ffffff,
  $disabled-background: #9e9e9e,
  $disabled-foreground: #ffffff,
);

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.demo-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  igx-chip {
    --igx-chip-hover-background: var(--ig-gray-300);
    --igx-chip-focus-background: var(--ig-gray-300);
  }
}

.router-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
  flex: 1;
}

.tab-container {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--ig-surface-500);
}

.tab-item-container {
  width: 100%;
  height: 72px;
  display: inline-flex;
}

.tab-item {
  align-items: center;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  cursor: pointer;
  user-select: none;
  color: black;

  &--selected {
    border-bottom: 3px solid var(--ig-primary-500);
    color: var(--ig-primary-500);
  }

  &:hover {
    background-color: var(--ig-gray-200);
  }
}

.tab-header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.15px;
  --ig-size: var(--ig-size-medium);
}

.tab-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--ig-gray-900);
  font-size: 14px;
  font-weight: 400;
  font-family: "aktiv-grotesk", sans-serif;
  line-height: 20px;
  letter-spacing: 0.25px;

  &--disabled {
    color: var(--ig-gray-700) !important;
  }
}

.tab-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  --ig-size: var(--ig-size-small);
  --disabled-icon-color: #ffffff;

  @include css-vars($custom-icon-button-theme);

  a {
    padding-bottom: 2px;
    transition: background-size 350ms;
    background: linear-gradient(0deg, var(--bg-color), var(--bg-color))
      no-repeat right bottom / 0 var(--bg-h);
    --bg-h: 2px;
    --bg-color: var(--ig-primary-500);

    &:where(:hover, :focus-visible) {
      background-size: 100% var(--bg-h);
      background-position-x: left;
    }

    &.link--disabled {
      color: var(--ig-primary-200);
      --bg-color: var(--ig-primary-200);

      &:hover {
        color: var(--ig-primary-500);
        --bg-color: var(--ig-primary-500);
      }
    }
  }

  button {
    --igx-icon-button-focus-background: var(--ig-gray-600);
    --igx-icon-button-hover-background: var(--ig-gray-600);
  }

  .button--disabled {
    --igx-icon-button-background: var(--ig-gray-500);
    --igx-icon-button-focus-background: var(--ig-gray-800);
    --igx-icon-button-hover-background: var(--ig-gray-800);
  }
}

.learn-text {
  text-decoration: none;
  color: var(--ig-primary-500);
  font-size: 14px;
  font-weight: 700;
  font-family: "aktiv-grotesk", sans-serif;
  line-height: 20px;
}

.current-tab-info {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;
  height: 90px;
  padding: 20px 24px;
  border: 1px solid #d6d6d6;

  .sample-info {
    height: 58px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .tab-description {
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .sample-actions {
    display: flex;
    gap: 16px;
    align-items: center;
    line-height: 100%;
    font-size: 14px;

    .theme-info {
      font-weight: 600;
      letter-spacing: 0.15px;
      height: 40px;
      padding-right: 16px;
      border-right: 1px solid #d6d6d6;
    }

    .action-buttons {
      display: flex;
      justify-content: space-between;
      gap: 16px;

      .custom-button {
        color: black !important;
        border-color: #d6d6d6;
        text-transform: unset;

        igx-icon {
          color: black;
        }
      }
    }
  }

  .sample-actions > div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

:fullscreen {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: block;
  background: var(--ig-surface-500, white);
  color: var(--ig-gray-900, black);
}

:-webkit-full-screen {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: white;
  background: var(--ig-surface-500, white);
  color: var(--ig-gray-900, black);
}

.hidden {
  display: none !important;
}
