:host {
  display: block;
  height: 100%;
  width: 100%;
  padding: 35px 16px 75px 16px;
}

.polar-chart-container,
.chart-wrapper,
igx-data-chart {
  height: 100%;
  --brushes: #1976d2, #d81b60;
  --outlines: #1976d2, #d81b60;
  --marker-brushes: white;
  --marker-outlines: #1976d2, #d81b60;
}
