:host {
  display: block;
  height: 100%;
  width: 100%;
  padding: 35px 16px 75px 16px;
}

.container,
.chart-wrapper,
igx-category-chart {
  height: 100%;
  --y-axis-label-text-color: black;
}

.legend-title {
  margin-left: 13px;
}