:host {
  display: block;
  height: 100%;
  width: 100%;
  padding: 35px 16px 75px 16px;
}

.container,
.chart-wrapper,
igx-category-chart {
  height: 100%;
  --brushes: #C5E0FF, #FFB5C2, #B2E5B2;
  --outlines: #C5E0FF, #FFB5C2, #B2E5B2;
  --marker-brushes: #C5E0FF, #FFB5C2, #B2E5B2;
  --marker-outlines: #C5E0FF, #FFB5C2, #B2E5B2;
  --y-axis-label-text-color: black;
}