<div class="container">
  <div class="legend-title">Average Max Temperature</div>
  <div class="legend">
    <igx-legend name="legend" #legend orientation="Horizontal"> </igx-legend>
  </div>
  <igx-category-chart
    name="chart"
    #chart
    width="100%"
    height="100%"
    [legend]="legend"
    [dataSource]="chartData"
    chartType="column"
    yAxisTitle="Temperature in °C"
    yAxisTitleLeftMargin="10"
    yAxisTitleRightMargin="5"
    yAxisLabelLeftMargin="0"
    highlightingMode="FadeOthersSpecific"
    highlightingBehavior="NearestItemsAndSeries"
    [isHorizontalZoomEnabled]="false"
    [isVerticalZoomEnabled]="false"
  >
  </igx-category-chart>
</div>

