@use "igniteui-angular/theming" as *;

@include core();
@include typography(
  $font-family: $bootstrap-typeface,
  $type-scale: $bootstrap-type-scale
);
@include theme(
  $palette: $light-bootstrap-palette,
  $schema: $light-bootstrap-schema
);

html,
body {
  max-height: 1000px;
}

.outer-wrapper {
  height: 100%;
}
