@use "igniteui-angular/theming" as *;

@include core();
@include typography(
  $font-family: $bootstrap-typeface,
  $type-scale: $bootstrap-type-scale
);

@include theme($palette: $light-material-palette, $schema: $light-material-schema);

html,
body {
  max-height: 1000px;
}

.outer-wrapper {
  height: 100%;
}
