:host {
  display: block;
  height: 100%;
  width: 100%;
  padding: 35px 16px 105px 16px;
}

.container,
.chart-wrapper,
igx-category-chart {
  height: 100%;
}

.legend-title {
  margin-left: 13px;
  font-size: 24px;
  font-family: "Titillium Web", sans-serif;
}

.ig-chart-legend-item {
  font-size: 12px;
  font-family: "Titillium Web", sans-serif;
}